section.carousel_up
    section.carousel_up__controls
        button «
        button »
    section.carousel_up__information
        h2.carousel_up__information__title 3.0 LOW ENTRY
        p.carousel_up__information__parrafo Fácil de subir, máxima comodidad
    section.carousel_up__items
        .carousel_up__items__item
            img(src=`../src/Images/Products/bicicleta (1).png`, alt=`asd` , class="relleno")
        +CarouselItemUp('src/Images/Products/bicicleta (1).png' , '3.0 LOW ENTRY')
        +CarouselItemUp('src/Images/Products/bicicleta (2).png' , '3.0 LOW ENTRY')
        +CarouselItemUp('src/Images/Products/bicicleta (1).png' , '3.0 LOW ENTRY')
        +CarouselItemUp('src/Images/Products/bicicleta (2).png' , '3.0 LOW ENTRY')
        .carousel_up__items__item
            img(src=`../src/Images/Products/bicicleta (1).png`, alt=`asd` , class="relleno")
    section.carousel_up__galery-points
        each title in [1,2,3,4]
            div.carousel_up__galery-points--point
    