section.carousel_back
    section.carousel_back__controls
        button «
        button »
    section.carousel_back__items
        +CarouselItemBack( 'src/Images/Products/bicicleta (1).png', 'COMO 3.0' , 'USD$ 3,300.00 ' , 'Bicicleta item 1' )
        +CarouselItemBack( 'src/Images/Products/bicicleta (2).png', 'COMO 3.0 LOW ENTRY' , 'USD$ 3,300.00 ' , 'Bicicleta item 2'  )
        +CarouselItemBack( 'src/Images/Products/bicicleta (1).png', 'COMO 4.0' , 'USD$ 3,300.00 ' , 'Bicicleta item 3' )
        +CarouselItemBack( 'src/Images/Products/bicicleta (2).png', 'COMO 4.0 LOW ENTRY' , 'USD$ 3,300.00 ' , 'Bicicleta item 4')
    a.carousel_back__button(href="") Ver Línea Como