section.carousel_back
    section.carousel_back__controls
        button(aria-label="buton de item previo") «
        button(aria-label="buton de item siguiente") »
    section.carousel_back__items
        +CarouselItemBack( 'src/Images/Products/bicicleta (1).png', 'COMO 3.0' , 'USD$ 3,300.00 ' , 'Bicicleta item 1' , 0)
        +CarouselItemBack( 'src/Images/Products/bicicleta (2).png', 'COMO 3.0 LOW ENTRY' , 'USD$ 3,300.00 ' , 'Bicicleta item 2', 0  )
        +CarouselItemBack( 'src/Images/Products/bicicleta (1).png', 'COMO 4.0' , 'USD$ 3,300.00 ' , 'Bicicleta item 3', 0)
        +CarouselItemBack( 'src/Images/Products/bicicleta (2).png', 'COMO 4.0 LOW ENTRY' , 'USD$ 3,300.00 ' , 'Bicicleta item 4' , -1)
    a.carousel_back__button(href="") Ver Línea Como