$blanco : #fff;
$negro : #000000;
$inputs : #707070;
$points : #538DB0;
$color-primario: #121212;
$color-secundario: #EE1C25;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: monospace;
}
@mixin buttons($color , $text-color) {
    font-size: 1.8rem;
    background-color: $color;
    border: none;
    color: $text-color;
    display: block;
}
@mixin titulos($color) {
    color: $color;
    text-align: center;
    text-transform: uppercase;

}
@import "./templates/header.scss";
@import "./templates/information.scss";
@import "./templates/products.scss";
footer{
    background-color: $negro;
    color: $blanco;
}
.content{
    &Before{
        display: flex;
        justify-content: space-around;
        &__information{
            
            &__title{
                font-size: 4rem;
                margin-bottom: 50px;
                @include titulos($blanco);
            }
            &__description {
                font-size: 1.8rem;
                font-weight: 100;
            }
            &_Socialred{
                margin: 50px 0;
                display:flex;
                p{
                    margin: auto 20px;
                    font-size: 1.6rem;
                }
            }
        }
        .information{
            width: 40%;
            margin: 10% 0 6%;
        }
        .formulario{
            width: 40%;
            margin: 10% 0 6%;
            &__inputs_text{
                border: none;
                border-bottom: 1px solid $inputs;
                background: transparent;
                width: 50%;
                margin: 0 auto 40px;
                font-size: 1.5rem;
                display: block;
                &:hover{
                    border-bottom: 1px solid $blanco;
                }
            }
            label:nth-of-type(6) , label:nth-of-type(7){
                display: block;
                margin: 0 auto 20px;
                max-width: 260px;
            }
            &__checkbox{
                &info{
                    margin: auto 20px;
                }
            }
            &__submit{
                padding: 10px 70px;
                margin: 70px auto 0;
                @include buttons($color-secundario, $blanco);
            }
        }
    }
    &After{
        &__line{
            background-color: $inputs;
            width: 90%;
            margin: 0 auto ;
            height: 1px;
        }
        &__final{
            display: flex;
            width: 80%;
            margin: 0 auto;
            padding: 20px 0;
            &__information{
                font-size: 1.6rem;
            }
            &__SocialReds{
                margin-left: auto;
                img{
                    display: inline-block;
                    margin: 0 auto;
                    margin-left: 50px;
                }
            }
        }
    }
}
/*Contenido a completar:
    -Checkboxes transparentes
    -Iconos centrados
    -Poner el footer como @import
*/