$blanco : #fff;
$negro : #000000;
$inputs : #707070;
$points : #538DB0;
$color-primario: #121212;
$color-secundario: #EE1C25;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: monospace;
}
@mixin buttons($color , $text-color) {
    font-size: 1.8rem;
    background-color: $color;
    border: none;
    color: $text-color;
    display: block;
}
@mixin titulos($color) {
    color: $color;
    text-align: center;
    text-transform: uppercase;

}
%checkboxes{
    border-radius: 15px;
    width: 15px;
    height: 15px;
}
%points-galery {
    margin: 0 15px;
    width: 15px;
    height: 15px;
    border: 1px solid $negro;
    border-radius: 15px;
}
@import "./templates/header.scss";
@import "./templates/carousel_up.scss";
@import "./templates/information.scss";
@import "./templates/products.scss";
@import "./templates/carousel_back.scss";
@import "./templates/footer.scss";