.carousel_up{
    background-color: $color-primario;
    &__controls{
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: 1;
        button{
            background: transparent;
            color: $blanco;
            font-size: 3.0rem;
            border: none;
            margin: 0 100px;
            transform: translateY(50px);
        }
    }
    &__items{
        overflow: hidden;
        display: flex;
        &::-webkit-scrollbar{
            display: none;
        }
        &__item{
            margin: 0 130px;
            .active{
                width: 450px;
                opacity: 1;
            }
            img{
                width: 350px;
                opacity: .5;
                height: auto;
                display: block;
                transition: 500ms;
                margin: auto 0;
            }
            .relleno{
                opacity: 0;
            }
        }
    }
    &__galery-points{
        display: flex;
        justify-content: center;
        padding: 30px 0;
        &--point{
            @extend %points-galery;
            border: 1px solid $blanco;
        }
        &--point--active{
            @extend %points-galery;
            background-color: $points;
            border: 1px solid $blanco;
        }
    }
    &__information{
        padding: 30px 0;
        &__title{
            font-size: 4.5rem;
            margin: 0 0 30px;
            @include titulos($blanco);
            font-family: "DinPro";
            font-style: italic;
        }
        &__parrafo{
            color: $blanco;
            font-size: 1.8rem;
            text-align: center;
            margin: 0 0 30px;
            font-family: "DinProMedium";
            font-style: italic;
        }
    }
}