footer{
    background-color: $negro;
    color: $blanco;
}
.content{
    &Before{
        display: flex;
        justify-content: space-around;
        &__information{
            
            &__title{
                font-size: 4rem;
                margin-bottom: 50px;
                @include titulos($blanco);
                font-family: "DinProMedium";
                font-style: italic;
            }
            &__description {
                font-size: 1.8rem;
                font-weight: 100;
                font-family: "DINPro-Light";
            }
            &_Socialred{
                margin: 50px 0;
                display:flex;
                p{
                    margin: auto 20px;
                    font-size: 1.6rem;
                    font-family: "DINPro-Light";
                    font-style: italic;
                }
            }
        }
        .information{
            width: 40%;
            margin: 10% 0 6%;
        }
        .formulario{
            width: 40%;
            margin: 10% 0 6%;
            &__inputs_text{
                border: none;
                border-bottom: 1px solid $inputs;
                background: transparent;
                width: 50%;
                margin: 0 auto 40px;
                font-size: 1.5rem;
                font-family: "DinPro";
                font-style: italic;
                color: $blanco;
                display: block;
                &:hover{
                    border-bottom: 1px solid $blanco;
                }
            }
            label:nth-of-type(6) , label:nth-of-type(7){
                display: flex;
                margin: 0 auto 20px;
                max-width: 260px;
            }
            &__checkbox{
                opacity: .01;
                position: absolute;
                z-index: -1;
                &__decoration {
                    background: transparent;
                    border: 1px solid $inputs;
                    @extend %checkboxes;
                    &--active{
                        background-color: $points;
                        border: 1px solid $blanco;
                        @extend %checkboxes;
                    }
                }
                &info{
                    margin: auto 20px;
                    display: inline-block;
                    font-size: 1.1rem;
                    font-family: "DinPro";
                }
            }
            &__submit{
                padding: 10px 70px;
                margin: 70px auto 0;
                font-family: "DinProMedium";
                @include buttons($color-secundario, $blanco);
            }
        }
    }
    &After{
        &__line{
            background-color: $inputs;
            width: 90%;
            margin: 0 auto ;
            height: 1px;
        }
        &__final{
            display: flex;
            width: 80%;
            margin: 0 auto;
            padding: 20px 0;
            &__information{
                font-size: 1.6rem;
                font-family: "DINPro-Light";
                font-style: italic;
            }
            &__SocialReds{
                margin-left: auto;
                display: flex;
                &__images{
                    margin: auto 0;
                }
                img{
                    display: inline-block;
                    margin: 0 auto;
                    margin-left: 50px;
                }
            }
        }
    }
}