.header {
    background-image: url('../../src/Images/backgrounds/header.png');
    background-repeat: no-repeat;
    background-size: cover;
    &__content{
        display: grid;
        grid-template-columns: 30% 40% 30%;
        
    }
    &grid__image{
        width: 60%;
        height: auto;
        padding-top: 40px;
        padding-left: 40px;
        margin-bottom: 150px;
    }
    &__nav__list {
        padding-left: 40px;
        list-style: none;
        margin-bottom: 150px;
        &__item {
            font-size: 1.8rem;
            color: rgba($blanco , .5);
            margin-bottom: 20px;
            &:hover {
                color: $blanco;
            }
        }
    }
    &__grid--column:nth-child(2){
        margin: auto 0;
    }
    &__title {
        font-size: 6rem;
        @include titulos($blanco);

    }
    &__slogan {
        font-size: 1.8rem;
        @include titulos($blanco);

    }
    &__button {
        max-width: 150px;
        text-align: center;
        margin: 40px auto;
        padding: 10px;
        @include buttons($color-secundario ,$blanco)
    }

}

