.informacionProduct {
    display: flex;
    &--black{
        background-color: $color-primario;
    }
    .columna{
        width: 50%;
        &__details{
            margin: 15% auto 30%;
            width: 50%;
            display: flex;
            justify-content: space-around;
            &__column__indicator{
                font-size: 1.6rem;
                font-weight: 600;
                font-family: "DinPro";
                font-style: italic;
                &--first{
                    @include titulos($blanco);
                }
                &--second{
                    @include titulos($color-primario);
                }
            }
            &__column__info{
                font-size: 2.3rem;
                text-align: center;
                font-weight: 500;
                font-family: "DinPro";
                font-style: italic;
                &--first{
                    color: $blanco;
                }
                &--second{
                    color: $color-primario;
                }
            }
        }
    }
    img{
        width: 80%;
        padding: 5% 0;
        margin: 0 auto;
        display: block;
        height: auto;
    }
    &__title{
        margin: 10% 0;
        font-size: 4rem;
        margin-bottom: 20px;
        font-family: "DinPro";
        font-style: italic;
        &--first{
            @include titulos($blanco);
        }
        &--second{
            @include titulos($color-primario);
        }
    }
    &__descripcion{
        font-size: 1.8rem;
        text-align: center;
        font-weight: normal;
        font-family: "DinPro";
        &--first{
            color: $blanco;
        }
        &--second{
            color: $color-primario;
        }
    }
}