footer.footer
    section.contentBefore
        .information
            h2.contentBefore__information__title PONTE EN CONTACTO CON NOSOTROS
            h3.contentBefore__information__description 
                | Si necesitas recibir más información sobre
                br
                | alguna de nuestras bicicletas envíanos tus datos
                br
                | o visítanos en nuestra tienda más cercana.
            article.contentBefore__information_Socialred
                img(src="../src/Images/loges/snapshat_loge.png", alt="Shop point ")
                p Visítanos en nuestro Punto de Venta
            article.contentBefore__information_Socialred
                img(src="../src/Images/loges/email_loge.svg", alt="Email Address")
                p specializedxp@gmail.com
        .formulario
            form(action="")
                +inputs('Nombre Completo' , 'text')
                +inputs('Ciudad' , 'text')
                +inputs('E-mail' , 'email')
                +inputs('Celular' , 'text')
                +inputs('Mensaje' , 'text')
                label(for="UseDates")
                    div.formulario__checkbox__decoration(id="UseDates")
                    span.formulario__checkboxinfo Acepto el uso de mis datos
                label(for="MeInterting")
                    div.formulario__checkbox__decoration(id="MeInterting")
                    span.formulario__checkboxinfo Me interesa recibir información de la marca
                input#enviarFormulario(class="formulario__submit" , type="submit", value="ENVIAR")
    section.contentAfter
        .contentAfter__line
        .contentAfter__final
            p.contentAfter__final__information Copyright © 2020 Perú, todos los derechos reservados.
            artcile.contentAfter__final__SocialReds
                +pictures('../src/Images/loges/instagram_loge.png','Social red of Instagram')
                +pictures('../src/Images/loges/fb_loge.png','Social red of Facebook')
                +pictures('../src/Images/loges/youtube_loge.png','Social of red Youtube')


        
                
                
