-var navigation = ['> COMO' , 'VADO' , 'VADO SL']

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title COMO
        link(rel="shortcut icon", href="https://orientevota.com/wp-content/uploads/logo-pagina-web-300x288.png", type="image/x-icon")
        link(rel="stylesheet", href="./css/index.css")
    body
        header.header
            section.header__content
                div.header__grid--column
                    picture
                        img.headergrid__image(src="../src/Images/loges/loge.png", alt="specialized loge")
                    nav.header__nav
                        ul.header__nav__list
                            each item in navigation
                                li.header__nav__list__item #{item}
                div.header__grid--column 
                    h1.header__title TURBO COMO
                    h2.header__slogan ERES TÚ,SÓLO QUE MÁS RÁPIDO
                div.header__grid--column 
                    a.header__button CONTÁCTANOS
